body {
  background-color: #25282a;
}

.meme-one {
  width: 100%;
  margin-bottom: 3%;
}

.main-adjust {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  padding-bottom: 7%;
}

.meme-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: normal;
  color: white;
}

.meme-dots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.adjust-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.meme-dots {
  background-color: white;
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.meme-dots:hover {
  background-color: red;
}

.none:checked + label {
  border-color: aqua;
  border-style: solid;
  border-width: 0.3rem;
}

.none {
  display: none;
}

@media (max-width: 500px) {
  .adjust-one {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 500px) {
  .meme-dots-container {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .meme-dots {
    width: 1rem;
    height: 1rem;
    margin-left: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 500px) {
  .meme-text {
    font-size: 1.5rem;
  }
}
